.side_bar
  .side_bar__user_name
    .side_bar__user_name-left
      masa
    .side_bar__user_name-right
      %ul
        %a
          <i class="far fa-edit"></i>
        %a
          <i class="fa fa-cog"></i>


  .side_bar__group-list
    .side_bar__group-list-contents
      .side_bar__group-list-title
        techcamp
      .side_bar__group-list-message
        コメント

